body {
    background-color: #BBE5FF;
    font-family: 'Open Sans', sans-serif; 
    margin: 0; 
    overflow: hidden; 
}
h1 {
    font-size: 48px; 
    width: 100%;
    text-align: center; 
    color: #fff; 
}

a {
    margin-top: 15px;
    display: block; 
    width: 50vw;
    height: 40px;
    line-height: 40px;
    font-size: 18px; 
    font-family: sans-serif;
    text-decoration: none; 
    border-radius: 15px;
    color: #333; 
    border: 2px solid #333; 
    letter-spacing: 2px; 
    text-align: center; 
    position: relative; 
    transition: all .35s; 
    margin: auto;
}
a span {
    position: relative;
    z-index: 2; 
}
a:hover {
transform: scale(1.1);
}
a:after {
    position: absolute; 
    content: ""; 
    top: 0; 
    left: 0; 
    width: 0; 
    height: 100%;
    border-radius: 12px;
    background: #FF7700;
    transition: width .35s; 
    z-index: -1;
}
a:hover:after {
    width: 100%; 
}
a:hover {
    color: #fff;
}
a:hover:after {
    transform: scaleX(1);
}
.slideshow-container {
    width: 100%; 
    height: calc(100vh - 60px);
    position: relative; 
}
.mySlides {
    display: none; 
    width: 100%; 
    height: 100%;
    position: relative;
    animation: fadeOut 1.5s ease-out; 
}
.img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.prev, .next {
    cursor: pointer; 
    position: absolute;
    top: 50%; 
    width: auto; 
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold; 
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; 
    background-color: rgba(0, 0, 0, 0.5);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

.text {
    position: absolute; 
    bottom: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white; 
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    width: 80%; 
    background-color: #FF7700;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
    opacity: 0.4;
}
    to {
    opacity: 1;
}
}
